@import "../../../styles/variables.scss";

.app-builds-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: calc(100% - 20px);
  padding-bottom: 20px;
  overflow: scroll;

  &__spinner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba($app-background-app-bar, 0.7);
  }

  &__empty {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
