<mat-form-field class="app-stash-quick-add">
  <input
    matInput
    type="text"
    placeholder="Search items..."
    [formControl]="searchControl"
    [matAutocomplete]="autoComplete" />
  <button mat-icon-button matSuffix (click)="handleClearSearchClick()">
    <mat-icon>{{ searchIcon }}</mat-icon>
  </button>
  <mat-autocomplete #autoComplete="matAutocomplete">
    <mat-option
      *ngFor="let itemId of itemIds"
      class="app-stash-quick-add__option"
    >
      <app-stash-quick-add-item
        [itemId]="itemId"
      ></app-stash-quick-add-item></mat-option></mat-autocomplete
></mat-form-field>
