@import "../../../styles/variables.scss";

.app-builds-card-item {
  img {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    margin-right: 10px;
    border: 2px solid $app-background-background;
    opacity: 0.5;
  }

  &--selected {
    img {
      opacity: 1;
    }
  }

  &--green {
    img {
      background-color: $app-stash-item-green;
    }
  }

  &--orange {
    img {
      background-color: $app-stash-item-orange;
    }
  }
}
