.app-builds-panel {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    flex: none;
    justify-content: space-between;
  }

  > *:not(.app-builds-panel__header) {
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
  }
}
