<div class="app-build-info">
  <div class="app-build-info__header">
    <h1>
      <a [href]="link" target="_blank">{{ label }}</a>
    </h1>

    <mat-chip-list>
      <mat-chip
        *ngIf="character"
        color="accent"
        disableRipple="true"
        selected="true"
        selectable="false"
        >{{ character }}</mat-chip
      >
      <mat-chip
        *ngIf="isVariation"
        class="app-build-info__variation-tag"
        color="primary"
        disableRipple="true"
        selected="true"
        selectable="false"
        >{{ subLabel }}</mat-chip
      >
      <mat-chip
        *ngIf="isOutdated"
        color="warn"
        disableRipple="true"
        selected="true"
        selectable="false"
        >Outdated</mat-chip
      >
    </mat-chip-list>
  </div>

  <mat-list class="app-build-info__sections">
    <app-build-info-slots [slots]="items"></app-build-info-slots>
  </mat-list>
</div>
