@import "../../../styles/variables.scss";

.app-build-info {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 32px);
  overflow: hidden;

  &__header {
    flex: none;
    padding: 16px;

    a {
      color: inherit;
      text-decoration: none;
      white-space: normal;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__sections {
    padding-bottom: 50px;
    overflow: scroll;
  }

  &__section-header {
    text-transform: uppercase;
  }

  &__variation-tag {
    text-transform: capitalize;
  }

  &__item ::ng-deep .mat-list-text {
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__stash-item {
    flex: 1 1;
  }

  &__tags ::ng-deep .mat-chip-list-wrapper {
    justify-content: flex-end;
    text-transform: capitalize;
  }

  &__tag {
    min-height: 24px;
    padding: 5px 8px;
  }
}
