<div class="app-build-info">
  <div class="app-build-info__header">
    <h1>
      <a [href]="link" target="_blank">{{ label }}</a>
    </h1>

    <mat-chip-list>
      <mat-chip color="accent" selected="true">{{ character }}</mat-chip>
      <mat-chip
        *ngIf="isVariation"
        class="app-build-info__variation-tag"
        color="primary"
        selected="true"
        >{{ subLabel }}</mat-chip
      >
      <mat-chip *ngIf="isOutdated" color="warn" selected="true"
        >Outdated</mat-chip
      >
    </mat-chip-list>
  </div>

  <mat-list class="app-build-info__sections">
    <ng-container *ngFor="let itemHeaders of itemHeaders">
      <mat-divider></mat-divider>
      <div mat-subheader class="app-build-info__section-header">
        {{ itemHeaders.label }}
      </div>
      <mat-list-item
        *ngFor="let item of itemHeaders.items"
        class="app-build-info__item"
      >
        <app-stash-item
          class="app-build-info__stash-item"
          [itemId]="item.id"
          isClickable="true"
          [isCube]="item.isCube"
          [isItemSelected]="item.isItemSelected"
          showLabel="true"
        ></app-stash-item>
        <mat-chip-list class="app-build-info__tags">
          <mat-chip
            *ngFor="let tag of item.tags"
            class="app-build-info__tag"
            [color]="tag.color"
            selected="true"
            >{{ tag.label }}</mat-chip
          >
        </mat-chip-list>
      </mat-list-item>
    </ng-container>
  </mat-list>
</div>
