@import "../../../styles/variables.scss";

.app-stash-quick-add-item {
  color: $app-stash-item-orange;

  &--is-set {
    color: $app-stash-item-green;
  }

  ::ng-deep .mat-checkbox-inner-container {
    margin-right: 14px;
  }
}
