@import "../../../styles/variables.scss";

.app-stash-quick-add-item {
  &--green {
    color: $app-stash-item-green;
  }

  &--orange {
    color: $app-stash-item-orange;
  }

  ::ng-deep .mat-checkbox-inner-container {
    margin-right: 14px;
  }
}
