@import "../../../styles/variables.scss";

.app-stash-item {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    white-space: normal;

    &:hover {
      text-decoration: underline;
    }
  }

  &__img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 2px solid $app-background-background;
    border-radius: 6px;

    img {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      opacity: 0.3;
    }
  }

  &--clickable {
    .app-stash-item__img:hover {
      border-color: $app-primary-color;
      cursor: pointer;
    }
  }

  &--selected {
    img {
      opacity: 1;
    }
  }

  &--green {
    a {
      color: $app-stash-item-green;
    }
    img {
      background-color: $app-stash-item-green;
    }
  }

  &--orange {
    a {
      color: $app-stash-item-orange;
    }
    img {
      background-color: $app-stash-item-orange;
    }
  }
}
