@import "../../../styles/variables.scss";

.app-stash-item {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    white-space: normal;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    width: 20px;
    height: 20px;
    border: 2px solid $app-background-background;
    border-radius: 6px;
    margin-right: 10px;
    opacity: 0.3;
  }

  &--selected {
    img {
      opacity: 1;
    }
  }

  &--green {
    a {
      color: $app-stash-item-green;
    }
    img {
      background-color: $app-stash-item-green;
    }
  }

  &--orange {
    a {
      color: $app-stash-item-orange;
    }
    img {
      background-color: $app-stash-item-orange;
    }
  }
}
