@import "../../../styles/variables.scss";

.app-stash-item {
  display: flex;
  align-items: center;

  a {
    color: $app-stash-item-orange;
    text-decoration: none;
    white-space: normal;

    &:hover {
      text-decoration: underline;
    }
  }

  &--is-set {
    a {
      color: $app-stash-item-green;
    }
    .app-stash-item__img {
      background-color: $app-stash-item-green;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 2px solid $app-background-background;
    border-radius: 6px;
    background-color: $app-stash-item-orange;
    opacity: 0.3;

    img {
      width: 25px;
      max-height: 30px;
      border-radius: 4px;
    }
  }

  &--clickable {
    .app-stash-item__img:hover {
      border-color: $app-primary-color;
      cursor: pointer;
    }
  }

  &--selected {
    .app-stash-item__img {
      opacity: 1;
    }
  }
}
