@import "../../../styles/variables.scss";

.app-builds-card {
  &__card {
    width: 220px;
    height: 180px;
    margin: 10px;
  }

  a {
    color: inherit;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }
}
