.app-builds-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 260px;
  margin: 10px;

  &__header ::ng-deep .mat-card-header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    cursor: pointer;
  }

  &__tags ::ng-deep .mat-chip-list-wrapper {
    text-transform: capitalize;
  }

  &__variation-tag {
    display: inline-block;
    max-width: 100%;
    min-height: 24px;
    padding: 5px 8px;
    line-height: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  a {
    color: inherit;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    width: 176px;
    height: 156px;
  }
}
