<mat-card
  [class]="className"
  id="app-builds-card__{{ item.id }}"
  (click)="handleBuildItemClick()"
>
  <mat-card-header class="app-builds-card__header">
    <mat-card-title
      ><a [href]="item.link" target="_blank">{{
        item.label
      }}</a></mat-card-title
    >
    <mat-card-subtitle>
      <mat-chip-list class="app-builds-card__tags">
        <mat-chip
          *ngIf="item.isVariation"
          class="app-builds-card__variation-tag"
          color="primary"
          selected="true"
        >
          {{ item.subLabel }}
        </mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
    <!-- </a> -->
  </mat-card-header>
  <div class="app-builds-card__items">
    <app-stash-item
      *ngFor="let icon of item.icons"
      [itemId]="icon.id"
      isClickable="true"
      [isCube]="icon.isCube"
      [isItemSelected]="isItemSelected(icon)"
      [onImageClick]="handleStashItemClick"
    ></app-stash-item>
  </div>
</mat-card>
