<mat-card class="app-builds-card" (click)="handleCardClick()">
  <mat-card-header class="app-builds-card__header">
    <!-- <a [href]="item.link" target="_blank"> -->
    <mat-card-title>{{ item.label }}</mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list class="app-builds-card__tags">
        <mat-chip
          *ngIf="item.isVariation"
          class="app-builds-card__variation-tag"
          color="primary"
          selected="true"
        >
          {{ item.subLabel }}
        </mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
    <!-- </a> -->
  </mat-card-header>
  <div class="app-builds-card__items">
    <app-builds-card-item
      *ngFor="let icon of item.icons"
      [itemId]="icon"
    ></app-builds-card-item>
  </div>
</mat-card>
