@import "../../../styles/variables.scss";

.app-stash-list {
  &__item {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    img {
      width: 20px;
      height: 20px;
      border: 2px solid $app-background-background;
      border-radius: 6px;
      margin-right: 10px;
    }

    &--green {
      a {
        color: $app-stash-item-green;
      }
      img {
        background-color: $app-stash-item-green;
      }
    }

    &--orange {
      a {
        color: $app-stash-item-orange;
      }
      img {
        background-color: $app-stash-item-orange;
      }
    }
  }
}
