<div class="app-home">
  <mat-toolbar color="primary">
    <span>d3.ninja</span>
  </mat-toolbar>
  <mat-drawer-container class="app-home__drawer-container">
    <mat-drawer
      class="app-home__drawer-container__drawer"
      mode="side"
      [opened]="isStashDrawerOpen"
      ><app-stash-drawer></app-stash-drawer>
    </mat-drawer>
    <app-builds-panel></app-builds-panel>
    <mat-drawer
      class="app-home__drawer-container__drawer"
      mode="side"
      position="end"
      [opened]="isBuildDrawerOpen"
      ><app-build-drawer></app-build-drawer>
    </mat-drawer>
  </mat-drawer-container>
  <button
    mat-mini-fab
    class="app-home__sidebar-icon"
    (click)="handleSidebarIconClick()"
  >
    <mat-icon>{{ sidebarIcon }}</mat-icon>
  </button>
</div>
