.app-home {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__drawer-container {
    flex-grow: 1;

    &__drawer {
      width: 350px;
    }
  }

  &__sidebar-icon {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
  }
}
