.app-stash-drawer {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    flex: none;
  }

  &__items {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__list {
    padding-bottom: 20px;
    overflow: scroll;
  }
}
